vm initdb

vm create -f ./solidity/simple_storage.sol
Succeed to create contract!
vm call -m get
Succeed to call contract!
Result (big): 0
vm call -m set 8
Succeed to call contract!
vm call -m get
Succeed to call contract!
Result (big): 8

vm create -f ./solidity/address_test.sol
Succeed to create contract!
vm call -m set 0xd0c549b022f5a17a8f50a4a448d20ba579d01781
Succeed to call contract!
vm call -m home
Succeed to call contract!
Result (hex): 0x000000000000000000000000d0c549b022f5a17a8f50a4a448d20ba579d01781
vm call -m set 0x123
Failed to parse address argument, value = 0x123, error = hex string of odd length